.login {
  height: 100%;
  background: #ffffff;
  header {
    height: 0.43rem;
    text-align: center;
    line-height: 0.43rem;
    width: 100%;
    background: #F4F4F4;
    position: static;
  }
  .inp {
    margin-top: 0.2rem /* 100/100 */
  ;
    padding: 0.15rem;
  }
}

.register {
  height: 100%;
  background: #fff;
  header {
    //position: fixed;
    //top: 0;
    //left: 0;
    height: 0.43rem;
    text-align: center;
    line-height: 0.43rem;
    width: 100%;
    background: #F4F4F4;
    position: static;
  }
  .inp {
    margin-top: 0.2rem /* 100/100 */
  ;
    padding: 0.15rem;

  }
}

.header {
  .top {
    height: 0.42rem;
    background: #0B1C33;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    z-index: 999;
    img {
      width: 0.89rem;
      height: 100%;
    }
  }
  .leftMain {
    width: 40%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: -40%;
    top: 0;
    z-index: 11;
    transition: all 0.3s linear;
    ul {
      padding: 0.2rem 0 0 0.2rem;
    }
  }
  .cover {
    position: fixed;
    top: 0rem /* 0/100 */
  ;
    left: 0rem /* 0/100 */
  ;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 10;
    display: none;
  }
}

.banner {
  :global(.ant-carousel) {
    height: 1.7rem;
    width: 100%;
    div {
      height: 100%;
      width: 100%;
    }
    .big {
      height: 100%;
      width: 100%;
    }
    .small {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s linear;
    }
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0;
  background: #F6F6F6;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-top: 0.01rem /* 1/100 */
  solid #888;
  display: flex;
  justify-content: space-between;
  .footList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
}

.home {
  margin-top: 0.42rem;
  margin-bottom: 0.6rem;
  background: #F6F6F6;
  .navBanner {
    height: 0.4rem;
    background: #fff;
    .news {
      color: #fbcc00;
      display: block;
      width: 0.44rem /* 44/100 */
    ;
      //height: 0.3rem  /* 24/100 */;
      font-size: 0.12rem;
      text-align: center;
      border-right: 0.01rem /* 1/100 */
      solid #eee;
      position: absolute;
      top: 0 /* 10/100 */
    ;
      left: 0.1rem /* 10/100 */
    ;
      padding: 0.05rem;
      line-height: 0.15rem;
    }
    :global(.ant-carousel) {
      height: 0.4rem;
      width: 80%;
      float: right;
      padding-right: .1rem;
      h3 {
        height: 0.4rem;
        line-height: 0.4rem;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .static {
    padding-top: 0.2rem;

    background: #fff;
    .tit {
      height: 0.72rem;
      text-align: center;
      h1 {
        font-size: 0.16rem;
      }
    }
    .serve_list {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0.15rem;
        img {
          width: 0.35rem;
          height: 0.35rem;
        }
      }
    }
    .solve_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0.15rem;
      li {
        width: 32%;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #F6F6F6;
        span {
          margin-top: .1rem;
        }
        img {
          width: 0.40rem;
          height: 0.40rem;
        }
      }
    }
    .product_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      a {
        margin: auto;
        color: #888888;
        border: 1px solid #ccc;
        padding: 0.03rem;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;
        width: 0.9rem;
        text-align: center;
        border-radius: 0.03rem;
      }
      li {
        width: 47%;
        margin-left: 2%;
        margin-top: 2%;
        height: 0.8rem;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:nth-of-type(1) {
          width: 25%;
          img {
            width: .35rem;
            height: .35rem;
          }
        }
        div:nth-of-type(2) {
          width: 70%;
          font-size: 0.1rem;
          span:nth-of-type(1) {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.my {
  margin-top: 0.42rem;
  margin-bottom: 0.6rem;
  position: relative;
  height: 100%;
  .head {
    height: 1.5rem;
    background: #004151;
    position: relative;
    z-index: 0;
    .img {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      color: white;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 80%);
    }
  }
  .myList {
    padding: 0.2rem 0.15rem;
    li {
      height: 0.4rem;
      border-bottom: 1px solid #cccccc;
      display: flex;
      justify-content: left;
      align-items: center;
      border-left: 1px solid #F4F4F4;
      margin-bottom: 0.15rem;
      padding: 0 0.15rem;
      box-shadow: -5px 9px 8px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0.08rem;

      span {
        margin-left: 0.1rem;
      }
    }
  }
  .perInfo {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    padding-top: 0.18rem;
    transition: all 0.3s linear;
    //display: none;
    ul {
      background: #fff;
      li {
        border-bottom: 1px solid #F4F4F4;
        padding: 0.15rem 0.08rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: .45rem;
          height: .45rem;
          border-radius: 50%;
        }
      }
    }

    .loginOut {
      padding: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      margin-top: 0.1rem;
      border-radius: 0.08rem;
      border: 1px solid #cccccc;
    }
  }
}



.apply{
  margin-top: 0.43rem;
  margin-bottom: 0.8rem;
  background: #F4F4F4;
  header {
    //position: fixed;
    //top: 0;
    //left: 0;
    height: 0.43rem;
    text-align: center;
    line-height: 0.43rem;
    width: 100%;
    background: #F4F4F4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .banner{
    height: 1.3rem;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .form{
    background: #fff;
    margin-top: 0.15rem;
    table{
      margin: auto;
      width: 90%;
      tr{
        td{
         padding: 0.1rem;
        }
      }
      tr:nth-of-type(1){
        line-height: 0.3rem;
        td:nth-of-type(1){
          width: 24%;
          vertical-align: top;
        }
      }
      tr:nth-of-type(1) ~ *{
        input{
          border-bottom: 1px solid #888;
          width: 100%;
        }
        textarea{
          width: 100%;
          height: .6rem;
        }
      }
    }
  }
  .btn{
    margin: 0.15rem auto;
    width: 30%;
    height: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBCC00;
    color: white;
  }
}
